.container{
    margin:auto;
    font-family: sans-serif;
}
.heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
  }
  .nav-link-item {

  }
  .nav-link-text {
    color: black;
  }